{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Le super forum !</h1>
        <p>Et oui c'est vrai que ce forum c'est de la balle</p>
    </div>
    <div class="container mt-5 mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Accueil</li>
            </ol>
        </nav>
        <div class="table-responsive">
            {% for category in categories %}
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr class="align-middle">
                            <th style="max-width: 70%; min-width: 65%;"><a href="{{ path('category',{id: category.id, slug: category.slug}) }}">{{ category.name }}</a></th>
                            <th class="align-middle text-center">Sujets</th>
                            <th class="align-middle text-center">Messages</th>
                            <th class="align-middle text-center">Dernier message</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for subcat in category.subCategories %}
                        {% set nbMsg = 0 %}
                        {% set messages = [] %}
                        {% for item in subcat.topics %}
                            {% set nbMsg = nbMsg + item.messages.count %}
                            {% set messages = messages|merge(item.messages) %}
                        {% endfor %}
                        {% set lastMsg = messages|custsort((a,b) => a.createdat <=> b.createdat)|last %}
                        <tr>
                            <td><a href="{{ path('subcategory', {id: subcat.id, slug: subcat.slug}) }}">{{ subcat.name }}</a>{{ subcat.description }}</td>
                            <td class="align-middle text-center">{{ subcat.topics.count }}</td>
                            <td class="align-middle text-center">{{ nbMsg }}</td>
                            <td class="align-middle text-center">Par <span style="color: {{ lastMsg.user.rank.first.color }}">{{ lastMsg.user.login }}</span><br>Le {{ lastMsg.createdat|date("d M Y à H:i") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}