{% extends 'base.html.twig' %}

{% block title %}Message privé{% endblock %}

{% block body %}
    <main class="container mt-5 mb-5">
        <h1>{{ conversation.title }}</h1>
        <h6>Démarré par {{ conversation.starter.login }} le {{ conversation.createdAt|date('d/m/Y') }}</h6>

        <table class="table table-bordered bg-light mt-5">
            <tbody>
                {% for mp in conversation.privateMessages %}
                    <tr>
                        <td style="width: 17%;" class="text-center">{{ mp.author.login }}</td>
                        <td class="p-3">
                            <p>{{ mp.text }}</p>
                            <p class="text-muted mb-0">Le {{ mp.postedAt|date('d/m/Y') }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="width: 17%;" class="text-center">{{ app.user.login }}</td>
                    <td>
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-outline-info w-25">Répondre</button>
                        {{ form_end(form) }}
                    </td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-primary w-50" href="{{ path('conversation_index') }}">Retour à la liste</a>
    </main>
{% endblock %}
