{% extends 'base.html.twig' %}

{% block title %}Forum - {{ subcategory.name }}{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('category', {id: subcategory.category.id, slug: subcategory.category.slug}) }}">{{ subcategory.category.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ subcategory.name }}</li>
            </ol>
        </nav>
        <div class="pagination float-left">
            {{ knp_pagination_render(topics) }}
        </div>
        {% if app.user %}
            <a href="{{ path('topic.new', {id: subcategory.id, slug: subcategory.slug }) }}" class="btn btn-dark float-right mb-3">Ajouter un sujet</a>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr class="align-middle">
                    <th style="max-width: 70%; min-width: 65%;"><a href="{{ path('subcategory', {id: subcategory.id, slug: subcategory.slug}) }}">{{ subcategory.name }}</a></th>
                    <th class="align-middle text-center">Réponses</th>
                    <th class="align-middle text-center">Vues</th>
                    <th class="align-middle text-center">Dernier message</th>
                </tr>
                </thead>
                <tbody>
                {% for topic in topics %}
                    {% set lastMsg = topic.messages|custsort((a,b) => a.createdat <=> b.createdat)|last %}
                    {% if topic.pin %}
                    <tr style="background-color:#ffc9bd">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            <a href="{{ path('topic', {id: topic.id, slug: topic.slug}) }}" class="d-block">{{ topic.title }}</a>
                            Par <span style="color: {{ topic.user.rank.first.color }}">{{ topic.user.login }}</span> le {{ topic.createdat|date("d M Y à H:i") }}
                        </td>
                        <td class="text-center align-middle">{{ topic.messages.count }}</td>
                        <td class="text-center align-middle"></td>
                        {% if lastMsg == false %}
                            <td class="text-center align-middle">Aucun Message</td>
                        {% else %}
                            <td class="text-center align-middle">Par <span style="color: {{ lastMsg.user.rank.first.color }}">{{ lastMsg.user.login }}</span><br>Le {{ lastMsg.createdat|date("d M Y à H:i") }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(topics) }}
        </div>
    </div>
{% endblock %}
